<root>

table, .section {
	page-break-inside:avoid;
}

body {
	width: 100%;
	font-family: arial,san-serif;
	font-size: 10px;
}

.h1 {
	font-family: arial,san-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #1F497D;
	text-transform:uppercase;
}

.italic-bold {
	font-family: arial,san-serif;
	font-weight: bold;
	font-style: italic;
}

.normal-text {
	font-family: arial,san-serif;
	font-size: 10px;
}

.red {
	color: #E44249;
}

.popup-box {
	width: 550px;
	height: 550px;
	color: #111;
	padding: 25px;
	border: 1px dotted #CAA162;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 0 25px 5px #999;
	display:none;
	overflow: auto;
	_background-color: #F7F7FF;
	*width: 600px;
}

.bClose {
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	font: bold 131% sans-serif;
	padding: 3px 6px 3px 6px;
	position: absolute;
	right: 7px;
	top: 7px;
	background-color: #2B91AF;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.popup-box p {
	padding: 5px;
	font-family: arial,san-serif;
	font-size: 12px;
	margin: 0px;
}

.input-text-style, .input-button-style {
	padding: 4px 7px;
}

.align-radio, .align-checkbox {
	float:left; 
	margin-top: 5px;
}

label {
	display: block;
	float: left;
	padding: 5px;
	width: 150px;
}

#popup_form {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.clear {
	clear: both;
}

.bClose {
	zoom:1; 
	display:inline;
}

.nowrap {
	white-space: nowrap;
}


.wrapper {
	width: 660px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper_landscape {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

table.full_border, table.full_border_2p {
	border-collapse:collapse;
	border-color:#000000; 
	border-style:solid; 
	border-width:1px;
}

table.full_border tr th, table.full_border tr td {
	border-width: 1px;
	border-style:solid;
	border-color:#C4C1C0;
	padding: 5px;
}

table.full_border tr th {
	font-size: 12px;
	background-color: #DAEEF3;
}

table.full_border_2p tr td {
	font-size: 7px;
	border-width: 1px;
	border-style:solid;
	border-color:#C4C1C0;
	padding: 1px;
}

table.full_border_2p tr th {
	font-size: 12px;
	background-color: #DAEEF3;
	border-width: 1px;
	border-style:solid;
	border-color:#C4C1C0;
	padding: 5px;
}

table.woborder tr td {
	border: 0;
}

table.full_border tr .no-padding {
	padding: 1px;
}

table.full_border tr .no-padding p {
	margin: 2px;
}

.no-margin {
	margin: 0;
}

.margin20 {
	margin: 20px 0 0 0;
}

.margin10 {
	margin: 10px 0 0 0;
}

table.nobottom {
	border: 1px solid #C4C1C0;
	padding: 0;
	border-collapse:collapse;
}

.nobottom th {
	border: 1px solid #C4C1C0;
	background-color: #DAEEF3;
	font-size: 12px;
	padding: 5px;
	margin: 0px;
}

.nobottom td {
	border-left: 1px solid #C4C1C0;
	border-right: 1px solid #C4C1C0;
	padding: 3px;
	margin: 0px;
}

.nobottom td.show_border {
	border: 1px solid #C4C1C0;
	padding: 3px;
	margin: 0px;
}

.nobottom td.show_border2 {
	border: 1px solid #C4C1C0;
	padding: 3px;
	margin: 0px;
	border-bottom: white;
}

table.nostyle {
	border: 1px solid #C4C1C0;
	padding: 0;
	border-collapse:collapse;
}

.nostyle tr th {
	padding: 5px;
	font-size: 12px;
	background-color: #DAEEF3;
}

.nostyle td {
	padding: 5px;
	margin: 0px;
	border: 0px;
}

.nostyle td.show_border, .nostyle th.show_border {
	border: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle td.show_right_border {
	border-right: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle td.show_left_border {
	border-left: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle td.show_bottom_border {
	border-bottom: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle td.show_top_border {
	border-top: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

table.nostyle_11 {
	border: 1px solid #000000;
	padding: 0;
	border-collapse:collapse;
}

.nostyle_11 tr th {
	padding: 5px;
	font-size: 10px;
	background-color: #DAEEF3;
}

.nostyle_11 td {
	padding: 5px;
	margin: 0px;
	border: 0px;
	font-size: 8px;
}

.nostyle_11 td.show_border, .nostyle_11 th.show_border {
	border: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle_11 td.show_right_border {
	border-right: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle_11 td.show_left_border {
	border-left: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle_11 td.show_bottom_border {
	border-bottom: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.nostyle_11 td.show_top_border {
	border-top: 1px solid #C4C1C0;
	padding: 5px;
	margin: 0px;
}

.background_DAEEF3 {
	background-color: #DAEEF3;
}

.bold {
  font-weight: bold;
}

.uline {
	text-decoration: underline;
}

.legend {
	margin: 3px;
	border-collapse:collapse;
	border-width: 1px;
	border-style:solid;
	border-color:#DAEEF3;
}

.legend td {
	text-align: center;
}

.total {
	text-decoration: overline underline;
}

.small {
	font-size: 9px;
	font-weight: normal;
	display: inline-block;
}

.highlight {
	background-color: #DAEEF3; 
}

.highlight_F8F8FF {
  background-color: #F8F8FF; 
}


.padding5 {
	padding: 5px;
}

.padding8 {
	padding: 8px;
}

.prev_enq {
  border-collapse:collapse;            
}

.prev_enq th, .prev_enq td {
  border-width: 1px;
  border-style:solid;
  border-color:black;
  text-align: center;           
}

.liteblue {
	color: #17365D;
}

.blue {
	color: #00f;
}

.term {
	text-align: justify;
	font-size: 9px;
	padding: 0px;
	margin: 0px;
}

.h3 {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
}

.h3_pcrp {
  font-size: 10px;
  font-weight: bold;
  margin: 2px;
}

.report-date {
	font-size: 12px;
}

.h2 {
  font-family: arial,san-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: underline;
}

.font12 {
	font-size: 12px;
}

.font14 {
	font-size: 14px;
}

.fontRed {
	color: red;
}

.bgRedFontWhite {
	background-color: red;
	color: white;
}

.justify {
	text-align:justify;
	text-justify:inter-word;
}

.left {
	float:left;
}

.right {
	float:right;
}


ol { counter-reset: item }
ol li { display: block }
ol li:before { content: counter(item) ". "; counter-increment: item }

ol.reset { counter-reset: item }
li.suit { display: block }
li.suit:before { content: counter(item) ". "; counter-increment: item }

.pcr_report_title {
	font-size: large;
	font-weight: bold;
	display: inline-block;
	width: 60%;
}

.pcr_report_details_box {
	display: inline-block;
	width: 30%;
	border-style: solid;
	border-width: thin;
	padding: 5px 30px;
	border-color: #C4C1C0;
}

.pcr_report_detail_title {
	display: inline-block;
	width: 50%;
}

.pcr_report_logo {
	margin-right: 78%;
}

.risk_grade_active {
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	background-color: #DAEEF3;
}

table.full_border tr .risk_grade_active {
	border: 2px solid black;
}

.risk_grade_not_active {
	text-align: center;
	font-size: 0.8em;
}

table {
  font-family: arial,san-serif;
  font-size: 10px;
}

.kyc_header {
	background-color: #DAEEF3;
	text-align: justify;
}

.kyc_request_table {
	font-size:12px;
}

/*

.note {
	font-weight: bold;
	font-style: italic;
	padding: 8px;
}

.term {
  text-align: justify;
  font-family: arial,san-serif;
  font-size: 10px;
  padding: 3px;
}

hr {
  border: solid 1px;
  color: #778899;
  height: 1px;
  border-top: 1px;
}

.tablewborder {
  border-collapse:collapse;
  border-width: 1px;
  border-style:solid;
  border-color:black; 
}

/*.tablewborder th, .tablewborder td {
  border-width: 1px;
  border-style:solid;
  border-color:black;       
}*/

/*

p {
  font-family: arial,san-serif;
  font-size: 10px;
}







.blue {
	color: #00f;
}



.right {
	text-align: right;
}

/* add zoom:1; display:inline; to inline-block elements */
/*
.column_border {
	border: 1px solid black;
}

.main th {
  color: #fff;
  font-size: 15px;
  padding: 5px;
  text-align: left;
}

.bg_maroon {
  background-color: #943634;
}

.bg_black {
  background-color: #000;
}

.bg_grey {
  background-color: #ccc;
}

*/
</root>